*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #3d8afe;
    font-family:Inter, sans-serif;
}

header{
    background-color: #397fe9;
    color:#FFF;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height:180px;    
    font-family: 'Mooli', sans-serif;
    border-bottom:2px solid #316dc8;
}
header .titulo{
    text-align: center;
   
}
header h1{
    color:gold;
    font-size:4rem;
    margin-top:20px;
}

.menu-admin{
    width:90%;
    max-width: 1000px;
    margin-top:40px;
}
.menu-admin ul{
    display:flex;
    align-items: flex-end;
    list-style: none;
}   

.menu-admin ul li.ativo{
   
    background-color:#10356c;
   
}
.menu-admin ul li.ativo a{
    color:#FFF;
}

.menu-admin ul li{
    background:#FBFBFD;
    padding:.5rem .8rem;
    border-radius: 10px 10px 0 0;
    margin-right:2px;
}
.menu-admin ul li:hover{
    background:#ffce2e;
    padding:.5rem .8rem;
    border-radius: 10px 10px 0 0;
    margin-right:2px;
}
.menu-adminul li:hover a{

    color:#316dc8;
}


.menu-admin ul a{
    color:#316dc8;
    text-decoration: none;
    font-weight: bold;
    font-size:1.2rem;
}

.menu{
    width:30%;
    align-self: flex-end;  

}
.menu ul{
    display:flex;
    justify-content:flex-end;
    align-items: flex-end;
    padding-right:10px;
    list-style: none;
    
}
.menu ul li.ativo{
   
    background-color:#10356c;
   
}
.menu ul li.ativo a{
    color:#FFF;
}

.menu ul li{
    background:#FBFBFD;
    padding:.5rem .8rem;
    border-radius: 10px 10px 0 0;
    margin-right:2px;
}
.menu ul li:hover{
    background:#ffce2e;
    padding:.5rem .8rem;
    border-radius: 10px 10px 0 0;
    margin-right:2px;
}
.menu ul li:hover a{

    color:#316dc8;
}


.menu ul a{
    color:#316dc8;
    text-decoration: none;
    font-weight: bold;
    font-size:1.2rem;
}

main{
    background-color:#FFF;
    border-radius:20px;
    width:90%;
    max-width:1000px;
    margin:1rem auto;
    padding:1rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}

main h1{
    color:#316dc8;
    background:#FBFBFD;
    margin:2rem auto;
    padding-bottom:10px;
    box-shadow:1px 2px 1px 1px #DDD;
    padding:.5rem;
    font-family: 'Mooli', sans-serif;
    
}

#atividades-mensal{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:1rem;
}

.atividade-dia{
    border:1px solid #DDD;
    border-radius: 10px;
    overflow: hidden;
   
}

.atividade-dia ul{
    list-style: none;
    padding:1rem;
}
.atividade-dia ul li{
    border-bottom:1px dashed #DDD;
    padding:10px 0;
}
.atividade-dia .data{
    background-color:#ffce2e;
    padding:1rem;
    font-weight: bold;
    font-size:1.5rem;
    color:#10356c;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.data-sem{
    font-size:.8rem;
}
.atividade{
    border:1px solid #DDD;
    border-radius: 10px;
    margin-bottom:10px;
    padding:1rem;
    display:grid;
    grid-template-columns: minmax(100px,1fr) 5fr;  
    grid-template-rows: 1fr 2fr;  
    column-gap:1rem;  
    align-items: center;  
    
        
}
.navegacao{
    width:100%;
    padding:.2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
 
   
}
.navegacao a{
    color:#10356c;
    font-size:3rem;
}
.navegacao a:hover{
    color:#ffce2e;
}

.adicionar{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    margin-top:1rem;
    margin-right:1rem;
}

.adicionar a{
    display:inline-block;
    background-color: #ffce2e;
    padding:1rem;
    border-radius: 20px;
    color:#10356c;
    text-decoration: none;
    display:flex;
    align-items: center;
    font-weight: bold;
}
.adicionar i{
    font-size:2rem;
    margin-right:10px;
}

.adicionar a:hover{
    color: #ffce2e;
    background-color:#10356c;
 
}
.atividade .data{
    grid-row-start: 1;
    grid-row-end: 4;
    background-color:gold;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius:10px;
    font-family: 'Mooli', sans-serif;
    text-align:center;
    align-self: stretch;
}

.atividade .data .data-dia{
    font-size:2.5rem;
    border-bottom:3px solid rgba(0,0,0,.1);
    color:darkgoldenrod;
    width:100%;
   
    padding-bottom:1px;
    
        
}
.atividade .data .data-mes{
    border-top:2px solid white;
    padding-top:5px;
    color:rgba(0,0,0,.5);
    font-weight: bold;
    width:100%;
}
.atividade .data .data-hora{
    margin-top:.5rem;
    margin-bottom:.5rem;
    color:rgba(0,0,0,.5);
   
}

.atividade h2{
    color:#316dc8;    
   
}

.atividade .descricao{
    display:flex;
    column-gap: 10px;
    font-size:.8rem;
}
.atividade .disciplina{
    background-color:#316dc8;
    border-radius:10px;
    justify-self: start;
    padding:.5rem;
    color:#FFF;
   
}

.atividade .curso{
    background-color:green;
    border-radius:10px;
    justify-self: start;
    padding:.5rem;
    color:#FFF;
    
}

.atividade .serie{
    background-color:rgb(194, 192, 192);
   
    border-radius:10px;
    justify-self: start;
    padding:.5rem;
    color:rgba(0,0,0,.8);
    
}

#filtro{
    background-color:#FFF;
    border-radius:20px;
    width:90%;
    min-height:80px;
    max-width:1000px;
    margin:2rem auto 1rem;
    padding:1rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,.1);
    display:flex;
    justify-content: space-around;
}

#filtro select{
    padding: 0 30px 0 10px;

    border: 1px solid #e0e0e0;
    border-radius:5px;
    line-height:40px;
    height: 40px;;
    /*box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);*/
    background: #fff;

    min-width: 200px;
    margin: 0 5px 5px 0;
    font-size:1rem;
}

#filtro input{
    padding: 0 2px 0 10px;

    border: 1px solid #e0e0e0;
    
  
    height: 40px;
    /*box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);*/
    background: #fff;

    min-width: 250px;
    margin: 0 5px 5px 0;
    font-size:1rem;
    border-radius:5px;


}
::-webkit-calendar-picker-indicator{
    padding:10px;
    cursor: pointer;
    border-radius: 3px;
}


#filtro button{
    width:80px;
    height:40px;
    background-color:#3d8afe;
    color:#FFF;
    outline:none;
    border:none;
    font-size:1.1rem;
    border-radius:5px;
}

main form input,
main form select
{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 1rem;
}
main form button{
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
main form button:hover{
    background: #43A047;
}

main h2{
    color:#43A047;
}

.text-center{
    text-align: center;
}

.atalhos{
    display:flex;
    justify-content: space-around;
    padding:1rem;
    margin-top: 50px;
}

.atalhos .atalho{
    width:20%;
    height:150px;
    background:linear-gradient(#DDD,#FFF);
    border-radius:20px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.2);

}

.atalhos .atalho a {
    display:flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#10356c;
    text-decoration: none;
   
}

.atalhos .atalho a i{
    font-size:4rem;
    margin:10px;
}

.atalhos .atalho a:hover{
    color:#316dc8;
}
table{
    width:100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 25px 0;
    border-collapse: collapse;
    
}


table th,
table td {
    padding: 12px 15px;
}

table thead tr {
    background-color: #316dc8;
    color: #ffffff;
    text-align: left;
}
table td{
    border-bottom:1px solid #DDD;
    margin:0;
    padding:1rem;
     
}

table td img{
    width:80px;
    border-radius:10px;
}
table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table .botoes{
    width:100px;
}

table .botoes a{
    color:#316dc8;
    font-size:1.4rem;
    margin-right:10px;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #10356c;
}

#paginacao{
    width:100%;
    display: flex;
    justify-content: center;
    padding-bottom:1rem;
   

}
#paginacao a{
    border-radius:100%;
    background-color: #ffce2e;    
    text-decoration: none;
    width:50px;
    height:50px;
    margin-right:.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#10356c;
    font-weight: bold;

}
#paginacao a:hover{
    background-color:#10356c;
    color:#FFF;
}

#paginacao a.ativo{
    background-color:#10356c;
    color:#FFF;
}